@charset "UTF-8";

.carousel-item {
	height: 40vh;
}

.carousel-caption{
	background-color: #00408538;
}


.group-header .carousel-item{
	height : 30vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search{
	margin-top: 1.5rem;
}
.groupcard{
	cursor: pointer;
}

.groupcard .card-img-top{
	min-height: 15rem;
	max-height: 15rem;
}

.groupcard .card-body{
	min-height: 16rem;
	max-height: 16rem;
}

.contents {
	background-color: #ebebeb;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1.5rem;
	padding-left: 0;
	padding-right: 0;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

.card-title {
	margin: 0px 24px;
	border-bottom: 1px solid rgb(235, 235, 235);
	color: #007bff;
	padding: .75rem 1.25rem;
	text-align: center;
}

.group-img {
	width: 100%;
	height: 70%;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 64, 133, 0.8);
	/*background: rgba(239, 108, 0, 0.8);  Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.groupcard:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.category>button{
	width: 100%;
	height: 100%;
}

.dropdown>button{
	width: 100%;
}

.span-btn>button{
	width: 100%;
}

/**************************   그룹 메인화면   **********************************/
/*옮겨도 되는 부분*/
.groupname{
	font-size: 2rem;
}
.groupdesc{
	margin-right: 10px;
	margin-bottom: 10px;
}
.whitespace{
	background-color: white;
}
.groupheader{
	
}
.groupsection{
	border-top: 1px solid #9E9E9E;
	padding-top: 3%;
	overflow: hidden;
	padding-bottom: 3%;
}

.group-info{
		
}
.group-info-label{
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

.group-info-content{
	float: right;
	width: 80%;
}

/* 그룹 과제  */
.homework{
	cursor: pointer;
}

.homework:hover{
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.homework-end{
	background-clip: padding-box;
	background-color: #8080802b;
	margin-bottom: 0.5rem;
}

.homework-status{
	float: right;
	font-weight: bold;
	height: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

.homework-body{
	float: left;
	margin-left: 10px;
	width: 80%;
}

/*진행률바*/
.progress{
	margin-top : 1rem;
	width: 100%;
  	background-color: grey;
}

.progress-bar{
	width: 1%;
  	height: 30px;
  	background-color: green;
}

/* Style the navbar */
.group-navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* Navbar links */
.group-navbar>.group-navbar-item {
  float: left;
  display: block;
  color: #f2f2f2 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.group-navbar>.group-navbar-item:hover {
  background-color: #ddd;
  color: black !important;
}

.group-navbar	>.group-navbar-item.active {
  background-color: #4CAF50;
  color: white !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 3.5rem;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .groupmain {
  padding-top: 60px;
}

.groupmain{
	padding-left: 15px;
	padding-right: 15px;
	min-height: 30rem;
}

/*진행률바*/
.progress{
	margin-top : 1rem;
	width: 100%;
  	background-color: grey;
}

.progress-bar{
	width: 1%;
  	background-color: green;
}

.search-input {
  background-image: url('/single/resources/img/group/search.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
  display: inline-block;
}

.right{
	float: right;
}

.file-icon{
	font-size: 20px;
	margin-left: 0.5rem;
}

/* 그룹 디테일 모달*/
#groupDetailModal .card-img-top{
	max-width: 30rem;
	max-height: 30rem;
}

/* 공통부분  */
.center{
	margin-left: auto;
	margin-right: auto;	
}

/* 채팅 */
/* chatting */
.chat{
	position: fixed;
	height: 100%;
	top : 56px;
	right : 0px;
	width : 18rem;
	z-index: 1000;
	background-color: #ebebeb;
	padding-left: 1rem;
	padding-right: 1rem;
}

.chatSmall{
	position: fixed;
	height: 100%;
	top : 56px;
	right : -16rem;
	z-index: 1000;
	background-color: #ebebeb;
	padding-left: 1rem;
	padding-right: 1rem;
}

#chat>.chatheader{
	height: 4vh;
	width: 90%;
	padding: 3%;
}
#chat>.chatheader a{
	height: 100%;
}
#chat>.chatheader label{
	height: 100%;
	font-size: 1rem;
}
#chat>.chatMsgArea{
	position : relative;
	height : 84%;
	width: 100%;
	resize: none;
	background-color: white;
	border-radius: 0.5rem;
	margin-bottom: 0.3rem;
	line-height: 1.2rem;
	font-weight: 100;
	padding: 5%;
}

#chat>.chatfooter{
	height: 4vh;
	width: 100%;
}

#chat>.chatfooter>input{
	height : 100%;
	width: 70%;
	display: inline;
	border-radius: 0.5rem;
}
#chat>.chatfooter>button{
	height : 100%;
	width: 26%;
	border-radius: 0.5rem;
}

#chat>.chat-toggle{
}

.btngroup>button{
	margin-right: 0.5rem;
}
